# DataTypes:-

In [1]:
a = 10
print(a)

10

In [2]:
type(a)

int

In [ ]:
#DataTypes----------------->Primitive DataTypes
#1. Integer
#2. Float
#3. String
#4. Boolean 
#5. Complex
# variable is a container that contains value.

In [3]:
a = "10"
print(a)
type(a)

# a is a variable and 10 is value

10

str

In [4]:
print('a')

a

In [5]:
print(b)

NameError: name 'b' is not defined

In [6]:
print('b')

b

In [7]:
c = "Hello Jii !!"
print(c)
type(c)

Hello Jii !!

str

In [8]:
x = 8935
print(x)
type(x)

8935

int

In [9]:
x = 485.9483
print(x)
type(x)

485.9483

float

In [10]:
#String ---------------->

x = "jdgjgb"
print(x)
type(x)

jdgjgb

str

In [11]:
# Boolean ------------------>True/False
x = True
print(x)
type(x)

True

bool

In [12]:
x = False
print(x)
print(type(x))

False
<class 'bool'>

In [13]:
x = true
y = false
print(x)
print(y)
type(x)
type(y)

NameError: name 'true' is not defined

In [14]:
x = 'True'
print(x)
type(x)

True

str

In [15]:
# complex------------>complex numbers!!
# 2+4i
x = 2+7i
print(x)
type(x)

SyntaxError: invalid decimal literal (1751533144.py, line 3)

In [16]:
# i replace with j in python

x = 2+5j
print(x)
type(x)

(2+5j)

complex

In [17]:
# write a program to add 2 numbers!.
a = 2
b = 5
c = a+b
print(c)

7

In [18]:
# write a program to swap two numbers-->
# 1. with the help of third variable
# 2. without using third variable

a = 4
b = 7

print("Before Swapping---------->",a,b)
c = a
a = b
b = c
print("After Swapping--------->",a,b)

Before Swapping----------> 4 7
After Swapping---------> 7 4

In [21]:
print(a)

4

In [22]:
print(b)

8

In [20]:
a = 8
b = 4
a,b = b,a
print(a,b)

4 8

# User Input---------->

In [23]:
# user input-------------------->>Python allows for user input.
# That means we are able to ask the user for input.

x = input("Enter the something:")
print(x)

Enter the something:jdfsvbcnb
jdfsvbcnb

In [24]:
# write a program to add two number with help user input.

a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
c = a+b
print(c)

Enter the first number:3
Enter the second number:5
8

In [27]:
# concatenation-------->

a = (input("Enter the first number:"))
b = (input("Enter the second number:"))
c = a+b
print(c)
type(c)

Enter the first number:5
Enter the second number:8
58

str

In [26]:
# input---------> o/p str
a = '9'
b = '3'
c =a+b
print(c)

93

In [28]:
# typecasting/type conversion/data type casting------>

a = int(input("Enter the first number:"))
b = int(input("Enter the second number:"))
c = a+b
print(c)

Enter the first number:3
Enter the second number:7
10

In [30]:

a = int(input("Enter the first number:"))
b = float(input("Enter the second number:"))
c = a+b
print(c)
type(c)

Enter the first number:2
Enter the second number:8
10.0

float

In [31]:

a = int(input("Enter the first number:"))
b = str(input("Enter the second number:"))
c = a+b
print(c)

Enter the first number:8
Enter the second number:9

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# Condition:-

In [ ]:
#age --------->18+---> you can vote
# age 18 --------> you can not vote.

# syntax---->

if condition:
    print the msg
else:
    print the msg

In [33]:
age = 28
if age > 18:
    print("You can vote")
else:
    print("You can not vote")

You can vote

In [36]:
age = int(input("Enter the age:"))
if age > 18:
    print("You can vote")
elif age == 18:
    print("You can vote")
else:
    print("You can not vote")

Enter the age:34
You can vote

In [37]:
age = 12
if age > 18:
    print("You can vote")
    else:
        print("You can not vote")

SyntaxError: invalid syntax (498239324.py, line 4)

In [38]:
age = 12
if age > 18:
    print("You can vote")
else:
print("You can not vote")

IndentationError: expected an indented block after 'else' statement on line 4 (3687814019.py, line 5)

In [39]:
age = 12
if age > 18:
    print("You can vote")
else:
    print("You can not vote")

You can not vote

In [42]:
# write a program to find a number is even or odd
# Find the max of two numbers.
# Find the max of three numbers.

x = 6
if x%2 == 0:
    print("Even number:",x)
else:
    print("Odd number:",x)

Even number: 6

In [43]:
x = 7
if x%2 == 0:
    print("Even number:",x)
else:
    print("Odd number:",x)

Odd number: 7

In [45]:
x = int(input("Enter the number:"))
if x%2 == 0:
    print("Even number:",x)
else:
    print("Odd number:",x)

Enter the number:51
Odd number: 51

In [46]:
x = 5
y = 7
if x>y:
    print("X is greater than Y",x)
else:
    print("Y is greater than X",y)

Y is greater than X 7

In [48]:
x = int(input("Enter the number:"))
y = int(input("Enter the number:"))
if x>y:
    print("X is greater than Y",x)
else:
    print("Y is greater than X",y)

Enter the number:4
Enter the number:8
Y is greater than  8

In [51]:
x = int(input("Enter the number:"))
y = int(input("Enter the number:"))
z = int(input("Enter the number:"))

if (x>y) and (x>z):
    print("X is greater Y,Z",x)
elif (y>x) and (y>z):
    print("Y is greater X,Z",y)
else:
    print("Z is greater X,Y",z)

Enter the number:8
Enter the number:5
Enter the number:3
X is greater Y,Z 8

In [54]:
# A company decided to give bonus of 5% to employee
# if his/her year of service is more than 5 years 
# and year of service and print the net bonus amount.

yos = 7
salary = 10000
if yos>5:
    bonus = (salary*5)/100
    total_salary = salary+bonus
    print("Bonus",bonus)
    print("Total salary:" ,total_salary)
else:
    print("not bonus")

Bonus 500.0
Total salary: 10500.0