# Dictionary:- 
1:- Dictionaries are used to store data values in key:value pairs.
2:- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
3:- Dictionaries are written with curly brackets, and have keys and values:{}

# Method of dictionary:-

In [ ]:
#clear()	Removes all the elements from the dictionary
#copy()	Returns a copy of the dictionary
#fromkeys()	Returns a dictionary with the specified keys and value
#get()	Returns the value of the specified key
#items()	Returns a list containing a tuple for each key value pair
#keys()	Returns a list containing the dictionary's keys
#pop()	Removes the element with the specified key
#popitem()	Removes the last inserted key-value pair
#setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value
#update()	Updates the dictionary with the specified key-value pairs
#values()	Returns a list of all the values in the dictionary

In [1]:
# clear()------------------------->
dict = {
    "name":"Seeta",
    "age":34,
    "marks":60
}
dict.clear()
print(dict)
type(dict)

{}

dict

In [3]:
# copy()-------------------------->
dict = {
    "name":"Seeta",
    "age":34,
    "marks":60
}
x = dict.copy()
print(x)
type(x)

{'name': 'Seeta', 'age': 34, 'marks': 60}

dict

In [4]:
# fromkeys()---------------------->

dict = {
    "name":"Seeta",
    "age":34,
    "marks":60
}
dict_1 = 0

x = dict.fromkeys(dict,dict_1)
print(x)
type(x)

{'name': 0, 'age': 0, 'marks': 0}

dict

In [5]:
dict = {
    "name":"Seeta",
    "age":34,
    "marks":60
}
dict_1 = 0

x = dict.fromkeys(dict_1,dict)
print(x)
type(x)

TypeError: 'int' object is not iterable

In [7]:
# get()----------------------->
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("year")

print(x)

1964

In [8]:
# items()-------------------------->

car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.items()

print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [9]:
# keys()------------------------>
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [11]:
# pop()------------------------>

c = {
    "name":"sjd",
    1:35,
    '0':34
}
c.pop('0')
print(c)

{'name': 'sjd', 1: 35}

In [12]:
c = {
    "name":"sjd",
    1:35,
    '0':34
}
c.pop()
print(c)

TypeError: pop expected at least 1 argument, got 0

In [14]:
# popitem()------------------->
c = {
    "name":"sjd",
    1:35,
    '0':34
}
c.popitem()
print(c)

{'name': 'sjd', 1: 35}

In [15]:
c = {
    "name":"sjd",
    1:35,
    '0':34
}
c.popitem('0')
print(c)

TypeError: dict.popitem() takes no arguments (1 given)

In [17]:
# setdefault()--------------------->
c = {
    "name":"sjd",
    1:35,
    '0':34
}
x = c.setdefault('0',"Bro")
print(x)

34

In [19]:
c = {
    "name":"sjd",
    1:35,
    '0':0
}
x = c.setdefault('0',"Bro")
print(x)

0

In [22]:
# update()------------------------->
c = {
    "name":"sjd",
    1:35,
    '0':34
}
c.update({'0':"Bro"})
print(c)

{'name': 'sjd', 1: 35, '0': 'Bro'}

In [ ]:
# values()----------------------->
c = {
    "name":"sjd",
    1:35,
    '0':34
}
x = c.setdefaul('0',"Bro")
print(x)