# Dictionary:-

In [1]:
# Pairs of key and value:-
x = {
    'name':'euireiu',
    'age':53
}
print(x)
type(x)

{'name': 'euireiu', 'age': 53}

dict

In [2]:
x = {
    'name':'Neha',
    'age':90,
    'marks':56
}
print(x)
type(x)

{'name': 'Neha', 'age': 90, 'marks': 56}

dict

In [3]:
x = {
    'name':'neha','priya',
    'age':45,
    'marks':46
}
print(x)

SyntaxError: ':' expected after dictionary key (301819667.py, line 2)

In [4]:
x = {
    'name':['neha','priya'],
    'age':(45,56),
    'marks':(46,78)
}
print(x)

{'name': ['neha', 'priya'], 'age': (45, 56), 'marks': (46, 78)}

In [5]:
type(x)

dict

In [6]:
x['name']

['neha', 'priya']

In [8]:
x['name'][1]

'priya'

In [9]:
# unindexed
# ordered
# a kind of slicing is possible with key, but not with index
# mutable

x = {
    'a':23
}
print(x)
type(x)

{'a': 23}

dict

In [10]:
x['a']

23

In [12]:
x['a'] = 100
print(x)

{'a': 100}

In [13]:
x['a'] = 200
print(x)

{'a': 200}

In [16]:
x = {
    'name':['Neha',('Priya','Priyanka'),'Kirti'],
    'age':(34,56,24,43),
    'marks':(2,3,1,5)
}
x['name'][1][1]

'Priyanka'

In [20]:
x = {
    'name':'A',
    'age':23,
    0:1
}
print(x)

{'name': 'A', 'age': 23, 0: 1}

In [21]:
x = {
    'name':'A',
    'age':23,
    0:1,
    0:"1"
}
print(x)

{'name': 'A', 'age': 23, 0: '1'}

In [22]:
x = {
    'name':'A',
    'age':23,
    0:1,
    0:"1",
    '0':'Hello'
}
print(x)

{'name': 'A', 'age': 23, 0: '1', '0': 'Hello'}

In [23]:
x = {
    'name':'A',
    'age':23,
    0:1,
    0:"1",
    '0':'Hello',
    1:0
}
print(x)

{'name': 'A', 'age': 23, 0: '1', '0': 'Hello', 1: 0}

In [24]:
x = {
    'name':'A',
    'age':23,
    0:1,
    0:"1",
    '0':'Hello',
    1:0,
    1:'0'
}
print(x)

{'name': 'A', 'age': 23, 0: '1', '0': 'Hello', 1: '0'}

In [30]:
# Write a program to make dict inside a dict.

x = {
    'name':'sckv',
    'age':34,
    
    'y':{
        'marks':45,
        'roll':36
    }
}
print(x)

{'name': 'sckv', 'age': 34, 'y': {'marks': 45, 'roll': 36}}

In [32]:
# Write a program to slice salary from dict.
x = {
    0:'5',
    1:8,
    'b':{
        'name':3746,
        'salary':45986
    }
}
x['b']['salary']

45986