# Loop:-

In [1]:
# For Loop
# While Loop
# Nested Loop

# Syntax---------> for variable in range function(define the range):
#       print the msg

# write a program to print from 0-10.

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [4]:
for raanna in range(1,6):
    print(raanna)

1
2
3
4
5

In [5]:
x = 0
while x< 10:
    print(x)
    x++

SyntaxError: invalid syntax (1766254002.py, line 4)

In [6]:
# 2-20  start point included and end point excluded in loop
for i in range(2,20):
    print(i)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
#(start point, end point,step) and (n-1)
for i in range(10,30,3):
    print(i)

10
13
16
19
22
25
28

In [9]:
for i in range(10,30,0):
    print(i)

ValueError: range() arg 3 must not be zero

In [13]:
# Write a program to print number from -10 to 10.
for i in range(-10,11):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [14]:
# Write a program to print number from 10 to -10.
for i in range(10,-11):
    print(i)

In [15]:
for i in range(10,-11,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [19]:
# Write a program to find odd and even number from 0-50.

for i in range(0,20):
    if i%2 == 0:
        print("Even------->",i)
    else:
        print("Odd",i)

Even-------> 0
Odd 1
Even-------> 2
Odd 3
Even-------> 4
Odd 5
Even-------> 6
Odd 7
Even-------> 8
Odd 9
Even-------> 10
Odd 11
Even-------> 12
Odd 13
Even-------> 14
Odd 15
Even-------> 16
Odd 17
Even-------> 18
Odd 19

In [20]:
for i in range(0,10):
    if i%2 != 0:
        print("Odd----->",i)
    else:
        print("Even",i)

Even 0
Odd-----> 1
Even 2
Odd-----> 3
Even 4
Odd-----> 5
Even 6
Odd-----> 7
Even 8
Odd-----> 9

# While Loop:-

In [ ]:
# While Loop:----------->
# 1. initialization
# 2. condition
# 3. increment/decrement

# 0-10

x = 0
while x<10:
    print(x)

In [21]:
x = 0
while x<10:
    print(x)
    x = x+1
#    x+=1
 #   x++

0
1
2
3
4
5
6
7
8
9

In [22]:
x = 0
while x<10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [23]:
x = 0
while x<10:
    print(x)
    x++

SyntaxError: invalid syntax (1374958610.py, line 4)