# OOPS:-(Object Oriented Programming Structure)

In [ ]:
# Object Oriented Programming Structure:----------->
# Why OOPS?
# importance ?
# advantage?

# 1:- class
# 2:- Object
# 3:- Inheritance:-
            # 1:- Single Inheritance
            # 2:- Multiple Inheritance
            # 3:- Multilevel Inheritance
            # 4:- Hierarchical Inheritance
# 4:- Encapsulation
# 5:- Polymorphism
# 6:- Abstraction

In [1]:
#Class-------------------> with class keyword
class student: # class
    a = 10
    print(a)

10

In [2]:
# Object --------------------->
class student:
    a = 10
student()

In [3]:
class student:
    a = 10
s = student() # object
s.a           # call object

10

In [4]:
student().a

10

In [5]:
class a:
    def fun():
        print("Hello World")
x = a()

In [6]:
x.fun

In [7]:
x.fun()

TypeError: a.fun() takes 0 positional arguments but 1 was given

In [8]:
x.fun("Hey")

TypeError: a.fun() takes 0 positional arguments but 2 were given

In [9]:
# Write a program to make a variable inside a opps and try to get the output.

class var:
    a = 30
v = var()
v.a

30

In [11]:
# Write a program  and make a function inside a oops try to get the output.

class emp:
    def func(self):
        print("Emp_name")
e = emp()
e.func()

Emp_name

In [12]:
class emp:
    def func(self):
        fname = "Snc"
        lname = "Dfn"
        print(fname + " " +lname)
e = emp()
e.func()

Snc Dfn

In [13]:
e.func()

Snc Dfn

In [15]:
class sum:
    def fun(snm,x,y): # we can use anyword instead of self
        res = x+y
        return res
s = sum()
s.fun(3,8)

11

In [20]:
# Write a program to make a variable & a function inside oops and try to get the output.
class sum:
    a = 5
    b = 9
    def fun(self,a,b):
        return a+b
s = sum()
s.fun(6,8)

14

In [18]:
s.a

5

In [21]:
s.b

9

In [22]:
# Function-------------------->Optimized
# Constructor --------------> to escape from function
# Like function but-----------> no need to call the constructor.

class emp:
    def __init__(self,name,salary):   # __init__ is a constructor it means initializer
        self.name = name
        self.salary = salary
e = emp('Somm',56000)
e.name

'Somm'

In [23]:
e.salary

56000

In [24]:
emp("A",48457).name

'A'

# Pillar Of OOPS:-

In [ ]:
# 1:- Inheritance
# 2:- Encapsulation
# 3:- Polymorphism
# 4:- Abstraction

# Inheritance:-
#1:-Inheritance allows us to define a class that inherits all the methods and properties from another class. 
#2:-Parent class is the class being inherited from, also called base class. 
#3:-Child class is the class that inherits from another class, also called derived class.

In [25]:
class parent:
    def __init__(self, name,age):
        self.name = name
        self.age = age
        
        
class child(parent):
    def __init__(self,name,age,address):
        parent.__init__(self,name,age)
        self.address = address
        
c = child("A",34,"Delhi")
c.name

'A'

In [26]:
c.age

34

In [27]:
c.address

'Delhi'

In [28]:
print(c.name,c.age,c.address)

A 34 Delhi

In [29]:
c.name,c.age,c.address

('A', 34, 'Delhi')

In [30]:
# super_method--------------------->
class parent:
    def __init__(self, name,age):
        self.name = name
        self.age = age
        
        
class child(parent):
    def __init__(self,name,age,address):
        super().__init__(name,age)
        self.address = address
        
c = child("A",34,"Delhi")
c.name

'A'

In [31]:
c.age

34

In [32]:
c.address

'Delhi'

In [34]:
class parent:
    def __init__(self,name,age):
        self.name = name
        self.age = age
        
class child(parent):
    def __init__(self,name,age,salary):
        super().__init__(name,age)
        self.salary = salary
c = child("S",24,90000)
c.name

'S'

In [35]:
c.age

24

In [36]:
c.salary

90000

In [55]:
# Write a program to inherit a class car from automobile and try to find the output of the car class attribute.

class automobile:
    def __init__(self,brand):
        self.brand = brand
        
class car(automobile):
    def __init__(self,brand, model,color,price):
        super().__init__(brand)
        self.model = model
        self.color = color
        self.price = price
        
c = car("TATA","Tiago","Black",4000000)
c.brand

'TATA'

In [51]:
c.model

'Tiago'

In [52]:
c.color

'Black'

In [54]:
c.price

400000

In [56]:
c.brand,c.model,c.color,c.price

('TATA', 'Tiago', 'Black', 4000000)