In [27]:
size =7
for i in range(0,size):
    for j in range(0,size-i):
        print(" ",end=" ")
    for k in range(0,i+1):
        print(" * ",end=" ")
    print(" ")

               *
             *   *
           *   *   *
         *   *   *   *
       *   *   *   *   *
     *   *   *   *   *   *
   *   *   *   *   *   *   *

In [30]:
rows = 6
for i in range(1,rows+1):
    for j in range(1,i):
        print(" * ",end=" ")
    print("\r")

 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [32]:
rows = 7
for j in range(1,rows+1):
    print(" * "*j)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *
 *  *  *  *  *  *
 *  *  *  *  *  *  *

In [34]:
n = int(input("Enter the rows"))
for i in range(0,n):
    for j in range(0,n-i):
        print(" ",end=" ")
    for k in range(0,i+1):
        print("*",end=" ")
    print(" ")

Enter the rows6
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *

In [36]:
rows = 6
for i in range(rows+1,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print("")

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [50]:
n = 5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end=" ")
        
    print("\r")
for i in range(n,0,-1):
    for j in range(0,i-1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [47]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    
    print("\r")
for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [61]:
n = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print(" *", end=" ")
    print("")

         *  *  *  *  *  *
          *  *  *  *  *
           *  *  *  *
            *  *  *
             *  *
              *

In [62]:
rows = 6
for i in range(0,rows):
    for j in range(0,i+1):
        print("*",end = " ")
    print(" ")
    
print(" ")
for i in range(rows+1, 0,-1):
    for j in range(0,i-1):
        print("*",end = " ")
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [3]:
rows = 5
k = 2*rows-2
for i in range(0,rows):
    for j in range(0,k):
        print(end=" ")
    k = k-1
    for j in range(0,i+1):
        print("* ",end="")
    print("")

k = rows-2

for i in range(rows, -1,-1):
    for j in range(k, 0,-1):
        print(end = " ")
    k = k+1
    for j in range(0,i+1):
        print("* ",end="")
    print("")

        *
       * *
      * * *
     * * * *
    * * * * *
   * * * * * *
    * * * * *
     * * * *
      * * *
       * *
        *

In [4]:
rows = 14
print("*"*rows,end="\n")
i = (rows//2)-1
j = 2
while i!=0:
    while j <= (rows - 2):
        print("*"*i,end="")
        print("_"*j,end="")
        print("*"*i,end="\n")
        i = i-1
        j = j+2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [5]:
rows = 4
for i in range(0,rows):
    c = 1
    print(c,end = " ")
    for j in range(rows-i-1,0,-1):
        print("*",end=" ")
        c = c+1
        print(c, end= " ")
    print("\n")

1 * 2 * 3 * 4

1 * 2 * 3

1 * 2

1

In [6]:
print("Print Alphabets and Letters pattern in Python:-")
asciiNumber = 65
for i in range(0,7):
    for j in range(0, i+1):
        character = chr(asciiNumber)
        print(character,end = " ")
        asciiNumber += 1
    print(" ")

Print Alphabets and Letters pattern in Python:-
A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [7]:
word = "Python"
x = ""
for i in word:
    x += i
    print(x)

P
Py
Pyt
Pyth
Pytho
Python

In [9]:
size = 7
asciiNumber = 65
m = (2*size) - 2
for i in range(0,size):
    for j in range(0,m):
        print(end = " ")
    m = m-1
    for j in range(0, i+1):
        character = chr(asciiNumber)
        print(character, end = " ")
        asciiNumber += 1
    print(" ")

            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

In [10]:
result_str = ""
for row in range(0,7):
    for column in range(0,7):
        if(((column == 1 or column == 5) and row!=0) or ((row == 0 or row == 3) and (column >1 and column <5))):
            result_str = result_str+"*"
        else:
            result_str = result_str+" "
    result_str = result_str+"\n"
print(result_str)

  ***
 *   *
 *   *
 *****
 *   *
 *   *
 *   *

In [11]:
r = ""
for i in range(0,7):
    for j in range(0,7):
        if(j == 1 or ((i == 0 or i == 6)and (j >1 and j<5)) or(j == 5 and i != 0 and i!=6)):
            r = r+"*"
            
        else:
            r = r+" "
    r = r+"\n"
print(r)

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [13]:
r = ""
for i in range(0,7):
    for j in range(0,7):
        if (j == 1 or ((i ==0 or i == 6) and (j>1 and j<6)) or (i == 3 and j>1 and j<5)):
            r = r+"*"
        else:
            r = r+" "
    r = r+"\n"
print(r)

 *****
 *
 *
 ****
 *
 *
 *****

In [15]:
n = ""
for i in range(0,7):
    for j in range(0,7):
        if((j == 1 and i != 0 and i!=6) or ((i == 0 or i == 6) and j>1 and j<5) or (i == 3 and j >2 and j <6) or (j == 5 and i!=0 and i!=2 and i!=6)):
            n =n+"*"
        else:
            n = n+" "
    n = n+"\n"
print(n)

  ***
 *   *
 *
 * ***
 *   *
 *   *
  ***

In [16]:
n = ""
for i in range(0,7):
    for j in range(0,7):
        if (j == 1 or (i == 6 and j!=0 and j < 6)):
            n = n+"*"
        else:
            n = n+" "
    n = n+"\n"
print(n)

 *
 *
 *
 *
 *
 *
 *****

In [20]:
r = ""
for i in range(0,7):
    for j in range(0,7):
        if(j == 1 or j == 5 or (i == 2 and (j == 2 or j == 4)) or (i == 3 and j == 3)):
            r = r+"*"
        else:
            r = r+" "
    r = r+"\n"
print(r)

 *   *
 *   *
 ** **
 * * *
 *   *
 *   *
 *   *

In [23]:
r = ""
for i in range(0,8):
    for j in range(0,8):
        if(((j == 1 or j == 6) and i!=0 and i!=7) or ((i == 0 or i == 7) and j >1 and j <6)):
            r = r+"*"
        else:
            r = r+" "
    r = r+"\n"
print(r)

  ****
 *    *
 *    *
 *    *
 *    *
 *    *
 *    *
  ****

In [24]:
n = ""
for i in range(0,7):
    for j in range(0,7):
        if (j == 1 or ((i == 0 or i == 3) and j > 0 and j < 5)or ((j == 5 or j == 1) and (i == 1 or i == 2))):
            n = n+"*"
        else:
            n = n+" "
    n = n+"\n"
print(n)

 ****
 *   *
 *   *
 ****
 *
 *
 *

In [25]:
r = ""
for i in range(0,7):
    for j in range(0,7):
        if (j == 1 or ((i == 0 or i == 3) and j > 1 and j <5) or (j == 5 and i != 0 and i < 3) or (j == i-1 and i >2)):
            r = r+"*"
        else:
            r = r+" "
    r = r+"\n"
print(r)

 ****
 *   *
 *   *
 ****
 * *
 *  *
 *   *

In [26]:
result = ""   
for row in range(0,7):    
    for column in range(0,7):     
        if (((row == 0 or row == 3 or row == 6) and column > 1 and column < 5) or (column == 1 and (row == 1 or row == 2 or row == 6)) or (column == 5 and (row == 0 or row == 4 or row == 5))):  
            result = result+"*"    
        else:      
            result = result+" "    
    result = result+"\n"    
print(result)

  ****
 *
 *
  ***
     *
     *
 ****

In [27]:
row=15    
col=18   
result_str = ""    
for i in range(1,row+1):    
    if((i<=3)or(i>=7 and i<=9)or(i>=13 and i<=15)):    
        for j in range(1,col):    
            result_str=result_str+"o"    
        result_str=result_str+"\n"    
    elif(i>=4 and i<=6):    
        for j in range(1,5):    
            result_str=result_str+"o"    
        result_str=result_str+"\n"    
    else:    
        for j in range(1,14):    
            result_str=result_str+" "    
        for j in range(1,5):    
            result_str=result_str+"o"    
        result_str=result_str+"\n"    
print(result_str);

ooooooooooooooooo
ooooooooooooooooo
ooooooooooooooooo
oooo
oooo
oooo
ooooooooooooooooo
ooooooooooooooooo
ooooooooooooooooo
             oooo
             oooo
             oooo
ooooooooooooooooo
ooooooooooooooooo
ooooooooooooooooo

In [29]:
n = ""
for i in range(0,6):
    for j in range(0,6):
        if (j == 3 or (i == 0 and j >0 and j <= 6)):
            n = n+"*"
        else:
            n = n+" "
    n = n+"\n"
print(n)

 *****
   *
   *
   *
   *
   *

In [35]:
r = ""
for i in range(0,8):
    for j in range(0,8):
        if (((j == 1 or j == 6) and i != 7) or (i == 7 and j > 1 and j < 7)):
            r = r+"*"
        else:
            r = r+" "
    r = r+"\n"
print(r)

 *    *
 *    *
 *    *
 *    *
 *    *
 *    *
 *    *
  *****

In [44]:
re = ""   
for row in range(0,7):    
    for column in range(0,7):     
        if (((column == 1 or column == 5) and (row > 4 or row < 2)) or row == column and column > 0 and column < 6 or (column == 2 and row == 4) or (column == 4 and row == 2)):  
            re = re+"*"    
        else:      
            re = re+" "    
    re = re+"\n"    
print(re);

 *   *
 *   *
  * *
   *
  * *
 *   *
 *   *

In [45]:
r ="";    
for row in range(0,7):    
    for column in range(0,7):     
        if (((row == 0 or row == 6) and column >= 0 and column <= 6) or row+column==6):  
            r = r+"*"    
        else:      
            r = r+" "    
    r = r+"\n"    
print(r);

*******
     *
    *
   *
  *
 *
*******