In [1]:
# Write a python program to create a tuple with numbers and print one item.
t = (3,4,5,2,12,7)
t[3]

2

In [3]:
# Write a python program to add an item in a tuple.
t = (54,78,12,34,89)
l = list(t)
l[0] = 100
z = tuple(l)
print(z)
type(z)

(100, 78, 12, 34, 89)

tuple

In [ ]:
# Write a python program to convert a tuple to a string.

In [6]:
# Write a Python program to convert a list to a tuple.
l = [34,23,12,56,76,'python',True]
t = tuple(l)
print(t)
type(t)

(34, 23, 12, 56, 76, 'python', True)

tuple

In [8]:
# Write a python program to remove an item from a tuple.
t = (5,4,67,23,12,7,'Python',False,True,-8,45.7)
l = list(t)
l.remove(False)
z = tuple(l)
print(z)
type(z)

(5, 4, 67, 23, 12, 7, 'Python', True, -8, 45.7)

tuple

In [10]:
# Write a python program to find the index of an item of a tuple.
t = (54,34,23,61,58,'python','ml',True)
t.index(61)

3

In [12]:
# Write a Python program to reverse a tuple.
t = (54,34,23,61,58,'python','ml',True)
t.reverse()
print(t)

AttributeError: 'tuple' object has no attribute 'reverse'

In [13]:
t = (54,34,23,61,58,'python','ml',True)
l = list(t)
l.reverse()
z = tuple(l)
print(z)
type(z)

(True, 'ml', 'python', 58, 61, 23, 34, 54)

tuple

In [15]:
# Write a python program calculate the product,
# multiplying all the numbers of a given tuple.
# Original Tuple:(4,3,2,2,-1,18)
t = (4,3,2,2,-1,18)
k = 4
for i in t:
    k = i*k
print(k)

-3456

In [17]:
# Python- Adding Tuple to list and vice-versa.
t = (34,56,78,23,90)
l = [34,23,78,96]
l1 = list(t)
l3 = l1+l
print(l3)

[34, 56, 78, 23, 90, 34, 23, 78, 96]

In [21]:
# Python program to find tuples which have all elements
# devisible by k from a list of tuples.


x = [(45,90,75,60,7)]
k = 5
for i in x:
    for j in i:
        if j%k == 0:
            print("Div")
        else:
            print("Not Div")

Div
Div
Div
Div
Not Div

In [31]:
# Python - Removing duplicates from tuple.
t = (1, 3, 5, 2, 3, 5, 1, 1, 3)
print("The original tuple is : " + str(t))
 
# Removing duplicates from tuple
res = tuple(set(t))
print("The tuple after removing duplicates : " + str(res))

The original tuple is : (1, 3, 5, 2, 3, 5, 1, 1, 3)
The tuple after removing duplicates : (1, 2, 3, 5)

In [ ]:
t = (5,3,3,2,4,5,6,4,4,3,2)

In [26]:
# Find the common element from the list:-
# l1 = [1,2,3,4]
# l2 = [45,78,2,90]

l1 = [1,2,3,4]
l2 = [45,78,2,90]
for i in l1:
    for j in l2:
        if i == j:
            print("Common Element:",i)
#        else:
#         print("Not Common")

Common Element: 2