# SET:-

In [ ]:
# SET ----------->Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
# immutable
# unordered
# unindexed

In [1]:
x = {2,1,3,4,5,6,-6,77}
print(x)
type(x)

{1, 2, 3, 4, 5, 6, 77, -6}

set

In [2]:
x = {1,2,3,4,5,6,7,8,9,10}
print(x)
type(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

set

In [3]:
x = {32,56,76,-35,65.34,'Python','Hello',True}
print(x)
type(x)

{32, 65.34, True, 'Python', 76, 56, -35, 'Hello'}

set

In [4]:
# immutable-------------->
x[0]

TypeError: 'set' object is not subscriptable

# method of set:-

In [ ]:
#Method	Description
#add()	Adds an element to the set
#clear()	Removes all the elements from the set
#copy()	Returns a copy of the set
#difference()	Returns a set containing the difference between two or more sets
#difference_update()	Removes the items in this set that are also included in another, specified set
#discard()	Remove the specified item
#intersection()	Returns a set, that is the intersection of two or more sets
#intersection_update()	Removes the items in this set that are not present in other, specified set(s)
#isdisjoint()	Returns whether two sets have a intersection or not
#issubset()	Returns whether another set contains this set or not
#issuperset()	Returns whether this set contains another set or not
#pop()	Removes an element from the set
#remove()	Removes the specified element
#symmetric_difference()	Returns a set with the symmetric differences of two sets
#symmetric_difference_update()	inserts the symmetric differences from this set and another
#union()	Return a set containing the union of sets
#update()	Update the set with another set, or any other iterable

In [5]:
#add()------------------->
f = {"apple","banana","cherry"}
f.add("orange")
print(f)

{'cherry', 'orange', 'apple', 'banana'}

In [6]:
# Clear()------------------->
s = {3,5,6,8,3,'hello',-58,True}
s.clear()
print(s)

set()

In [7]:
s = {3,5,6,8,3,'hello',-58,True}
s.clear('hello')
print(s)

TypeError: set.clear() takes no arguments (1 given)

In [8]:
# Copy()----------------------------->
f = {"apple","banana","cherry"}
x = f.copy()
print(x)

{'cherry', 'apple', 'banana'}

In [9]:
# difference()------------------------->
x = {"da", "ml", "rd",78,"python"}
y = {"Django", "js", "python","ml"}

z = x.difference(y)
print(z)
type(z)

{'rd', 'da', 78}

set

In [10]:
x = {"da", "ml", "rd",78,"python"}
y = {"Django", "js", "python","ml"}

z = y.difference(x)
print(z)
type(z)

{'Django', 'js'}

set

In [11]:
# differnece_update()-------------------->
x = {"da", "ml", "rd",78,"python"}
y = {"Django", "js", "python","ml"}

x.difference_update(y)
print(x)

{'da', 'rd', 78}

In [12]:
x = {"da", "ml", "rd",78,"python"}
y = {"Django", "js", "python","ml"}

y.difference_update(x)
print(y)

{'Django', 'js'}

In [13]:
# discard()------------------------->
s = {"Django", "js", "python","ml"}
s.discard("js")
print(s)
type(s)

{'Django', 'python', 'ml'}

set

In [15]:
# intersection()------------->
x = {"apple", "banana", "cherry","orang"}
y = {"google", "microsoft", "apple","cherry"}
z = x.intersection(y)
print(z)

{'cherry', 'apple'}

In [17]:
# intersection_update()----------------->
x = {"apple", "banana", "cherry","orang"}
y = {"google", "microsoft", "apple","cherry"}
x.intersection_update(y)
print(x)

{'cherry', 'apple'}

In [18]:
# isdisjoin()---------------->
x = {"apple", "banana", "cherry","orang"}
y = {"google", "microsoft", "apple","cherry"}

z = x.isdisjoint(y)
print(z)

False

In [20]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "ibm"}

z = x.isdisjoint(y)
print(z)

True

In [21]:
# issubset()----------------->

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [22]:
x = {"a", "b", "c"}
y = {"f", "e", "d",}

z = x.issubset(y)

print(z)

False

In [23]:
# issuperset()------------>
x = {34,23,45,7,33,24,7,5}
y = {34,23,5,78,5,8,7,98,4}
z = x.issuperset(y)
print(z)

False

In [29]:
x = {34,23,45,7,33,24,7,5}
y = {5,23,7,33}
z = x.issuperset(y)
print(z)

True

In [28]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [30]:
# pop()----------------->
f = {"google","apple","hcl"}
f.pop()
print(f)

{'apple', 'google'}

In [31]:
# remove()---------------------->
s = {46,58,92,90,12,32}
s.remove()
print(s)

TypeError: set.remove() takes exactly one argument (0 given)

In [32]:
s = {46,58,92,90,12,32}
s.remove(58)
print(s)

{32, 90, 12, 46, 92}

In [33]:
# symmetric_difference()------------------>

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'cherry', 'google'}

In [34]:
x = {23,4,56,78,4,5}
y = {45,6,7,43,3,4}
z = x.symmetric_difference(y)
print(z)

{3, 5, 6, 7, 78, 23, 43, 45, 56}

In [35]:
# symmetric_difference_update()--------------->
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'microsoft', 'banana', 'cherry', 'google'}

In [36]:
# union()----------------->
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.union(y)
print(z)

{'microsoft', 'apple', 'banana', 'cherry', 'google'}

In [37]:
# update()--------------------->
s1 = {48,'js',38,-96}
s2 = {'google',4,True,48}
s1.update(s2)
print(s1)

{-96, True, 4, 38, 48, 'js', 'google'}

In [38]:
s1 = {48,'js',38,-96}
s2 = {'google',4,True,48}
s2.update(s1)
print(s2)

{-96, True, 4, 38, 48, 'js', 'google'}