In [1]:
x =(2,4,5,6,7,8,8)
print(x)
type(x)

(2, 4, 5, 6, 7, 8, 8)

tuple

In [2]:
x = (23,45,67,"Python","False",True,-67,9.87,False)
print(x)

(23, 45, 67, 'Python', 'False', True, -67, 9.87, False)

In [3]:
type(x)

tuple

# Slicing with indexing:-

In [4]:
# mutable & immutable------------->
x

(23, 45, 67, 'Python', 'False', True, -67, 9.87, False)

In [6]:
y = list(x)
print(y)

[23, 45, 67, 'Python', 'False', True, -67, 9.87, False]

In [12]:
x[3]

'Python'

In [13]:
x

(23, 45, 67, 'Python', 'False', True, -67, 9.87, False)

In [14]:
x[4]

'False'

In [15]:
x[2]

67

In [16]:
# Mutable & immutable---------->
x[0] = 50
print(x)

TypeError: 'tuple' object does not support item assignment

# Tuple Method:-

In [17]:
# Index
# count

x

(23, 45, 67, 'Python', 'False', True, -67, 9.87, False)

In [18]:
#Index-------------------->

x.index()

TypeError: index expected at least 1 argument, got 0

In [19]:
x.index(67)

2

In [20]:
x.index(True)

5

In [21]:
# Count--------------->
x.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [22]:
x.count(True)

1

In [23]:
x.count("Python")

1

In [24]:
x = (34,67,89,[1,'hello',87.9],45,67.5,True)
print(x)

(34, 67, 89, [1, 'hello', 87.9], 45, 67.5, True)

In [25]:
type(x)

tuple

In [26]:
# Write a program to slice 87.9 from the above the data.
x

(34, 67, 89, [1, 'hello', 87.9], 45, 67.5, True)

In [27]:
x[3][2]

87.9

In [28]:
x[4]

45

In [29]:
x[3]

[1, 'hello', 87.9]

In [31]:
# tuple immutable-------------->
x[3][0]='Python'
print(x)

(34, 67, 89, ['Python', 'hello', 87.9], 45, 67.5, True)

In [32]:
x[3] = 45
print(x)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# index
# ordered
# immutable

In [34]:
# Write a program to make empty list.
l = []
print(l)
type(l)

[]

list

In [35]:
# Write a program to make empty tuple.
t = ()
print(t)
type(t)

()

tuple

In [36]:
# Write a program to make single element list.
l = [1]
print(l)

[1]

In [37]:
# Write a program to make single element tuple.
t = (2)
print(t)

2

In [38]:
# by default tuple
a = 1,2,3,4,"python",-58,35.67
print(a)
type(a)

(1, 2, 3, 4, 'python', -58, 35.67)

tuple

In [40]:
# Write a program to add data to a tuple.
x = (3,45,67,8,90,23)
y = 0
for i in x:
    y = y+i
print(y)

236

In [41]:
x

(3, 45, 67, 8, 90, 23)

In [42]:
y = list(x)
print(y)

[3, 45, 67, 8, 90, 23]

In [43]:
y.append(100)
z = tuple(y)
print(z)

(3, 45, 67, 8, 90, 23, 100)

In [ ]:
# Write a python program to find the index of an item of a tuple.

In [ ]:
# Write a python program to reverse a tuple.

In [ ]:
# Write a python program calculate the product multiplying all the numbers of a 
# given tuple original tuple:(4,3,2,2,-1,18).
x = (4,3,2,2,-1,18)
y =