# Advance Function:-

In [ ]:
# 1:- Lambda function/(anonymous function/one liner function)
# 2:- Filter Function
# 3:- Map Function
# 4:- Reduce Function

In [ ]:
# pass n number of arguments
# perform only one operation at a time
# not support loop

# Lambda Function:-

In [4]:
# Lambda Function--------------------------->

a= lambda x,y:x+y
a(3,2)

5

In [5]:
x = lambda a,b,c,d:a+b+c+d
x(1,2,3,4)

10

In [6]:
a = lambda x,y:x+y,x-y
a(3,5)

TypeError: unsupported operand type(s) for -: 'function' and 'list'

In [7]:
# wap to find odd & even number with the help of lambda function
b = lambda a:True if a%2 == 0 else False

In [8]:
b(46)

True

In [9]:
b(77)

False

In [10]:
b = lambda a:"Even" if a%2 == 0 else "Odd"

In [11]:
b(90)

'Even'

In [12]:
b(7)

'Odd'

# Filter Function:-

In [13]:
# Filter Function------------------>
# data read------> data quality increase

# list/tuple------------>

x = [34,78,90,45,23,-12,45,67,45,35,78]

for i in x:
    if i>65:
        print(i)
#    else:
#       print(False)

78
90
67
78

In [14]:
# Filter function--------->
x = [34,78,90,45,23,-12,45,67,45,35,78]
a = lambda x:True if x>65 else False
a(x)

TypeError: '>' not supported between instances of 'list' and 'int'

In [15]:
x = [34,78,90,45,23,-12,45,67,45,35,78]
list(filter(lambda x:True if x>65 else False,x))

[78, 90, 67, 78]

In [16]:
x = [34,78,90,45,23,-12,45,67,45,35,78]
tuple(filter(lambda x:True if x>60 else False, x))

(78, 90, 67, 78)

In [17]:
x = [34,78,90,45,23,-12,45,67,45,35,78]
def filter(x):
    for i in x:
        if i>60:
            print(i)
#        else:
#            print(False)
filter(x)

78
90
67
78

In [3]:
x = [34,78,90,45,23,-12,45,67,45,35,78]
y=[]

def senior():
    for i in x:
        if i>60:
            y.append(i)
list(filter(senior(),y))

[78, 90, 67, 78]

In [2]:
x = [47,67,24,78,54,87]
def fun(x):
    if x >60:
        return True
    else:
        return False
list(filter(fun,x))

[67, 78, 87]

# Map Function:-

In [18]:
# Map Function-------------->

a = [1,2,3,4,5]
list(map(lambda a:a**2,a))

[1, 4, 9, 16, 25]

In [19]:
a = [1,2,3,4]
def fun(i):
    return i**2
list(map(fun,a))

[1, 4, 9, 16]

In [47]:
# wap to add three given lists using Python map and lambda.
nums1 = [1, 2, 3] 
nums2 = [4, 5, 6] 
nums3 = [7, 8, 9] 
result = map(lambda x, y, z: x + y + z, nums1, nums2, nums3) 
print(list(result))

[12, 15, 18]

In [24]:
# Write a python program to square the elements of list using map() function.
l = [3,4,6,7,8]
def fun1(i):
    return i**2
list(map(fun1,l))

[9, 16, 36, 49, 64]

In [26]:
# Write a program to find average of 5 numbers using lambda function.
a=lambda a,b,c :(a+b+c)/2
a(2,4,6)

6.0

In [29]:
# Write a function to find the max and min of 3 numbers and find their average with the help of lambda function.
from functools import reduce
a = [4,5,7]
reduce(lambda x,y:(x+y)/2,a)

5.75

In [42]:
from functools import reduce
x = [4,3,6]
reduce(lambda a, b : min(a,b),x)

3

In [43]:
from functools import reduce
x = [4,3,6]
reduce(lambda a, b : max(a,b),x)

6

# Reduce Function:-

In [27]:
from functools import reduce

In [28]:
a = [1,2,3,4]
reduce(lambda x,y:x+y,a)

10

In [51]:
from functools import reduce
lis = [1, 3, 4, 10, 4]
reduce(lambda x, y: x+y,lis)

22