# Dictionary:-

In [1]:
d = {
    1:'apple',
    2:'banana'
}
print(d)

{1: 'apple', 2: 'banana'}

In [2]:
# Empty dict--->

d = {}
print(d)

{}

In [3]:
# Single element dict----->

d ={
    1:23
}
print(d)

{1: 23}

In [4]:
d = {
    'name':'Verco',
    'mark':345,
    'mobile':8758
}
print(d)

{'name': 'Verco', 'mark': 345, 'mobile': 8758}

In [5]:
print()

In [6]:
print(d["mark"])

345

In [7]:
print(d['mobile'])

8758

In [9]:
print(d.get('name'))

Verco

In [11]:
# Update Element of Dictionary:---------
my_dict = {
    'name':'jdhgj',
    'age':46
}
my_dict.update({'add':'jack'})
print(my_dict)

{'name': 'jdhgj', 'age': 46, 'add': 'jack'}

# Dictionary Methods:-

In [12]:
# clear()
# Syntax:-
#     dictionary.clear()

d = {
    'name':'shiv',
    'age':34,
    'address':'Delhi'
}
d.clear()
print(d)

{}

In [13]:
# items()------------>
# Syntax:-
#    d.items()

d = {
    'name':'shiv',
    'age':34,
    'address':'Delhi'
}
print(d.items())

dict_items([('name', 'shiv'), ('age', 34), ('address', 'Delhi')])

In [14]:
d = {
    'name':'shiv',
    'age':34,
    'address':'Delhi'
}
d.items()
print(d)

{'name': 'shiv', 'age': 34, 'address': 'Delhi'}

In [15]:
# popitem()------->
# Syntax:-
#    dictionary.popitem()

d = {
    'n':'fhg',
    1:857,
    6:36
}
d.popitem()
print(d)

{'n': 'fhg', 1: 857}

In [16]:
# keys()---------->
# Syntax:-
#    dictionary.keys()

d = {
    'n':'fhg',
    1:857,
    6:36
}
d.keys()
print(d)

{'n': 'fhg', 1: 857, 6: 36}

In [17]:
d = {
    'n':'fhg',
    1:857,
    6:36
}
print(d.keys())

dict_keys(['n', 1, 6])

In [18]:
# values()----------->
# Syntax:-
#    dict.values()

dict = {
    'n':'fhg',
    1:857,
    6:36,
    "hey":"Guys"
}
dict.values()
print(dict)

{'n': 'fhg', 1: 857, 6: 36, 'hey': 'Guys'}

In [19]:
dict = {
    'n':'fhg',
    1:857,
    6:36,
    "hey":"Guys"
}
print(dict.values())

dict_values(['fhg', 857, 36, 'Guys'])

# Iterating in Dictionary:--------->

In [20]:
my_dict = {
    'name':'atul',
    'class':12,
    'subject':'Science'
}
print(my_dict)
for a in my_dict:
    print(a)

{'name': 'atul', 'class': 12, 'subject': 'Science'}
name
class
subject

In [21]:
# Get all the values from dictionary-->

for a in my_dict:
    print(my_dict[a])

atul
12
Science

In [ ]:
# Iterating in Dictionary using items().

a = {
    1:'one',
    2:'two',
    3:'three'
}

for k,v in a.items():
    pr